:focus {
  outline: none;
}

.video-card {
  width: 560px;
  height: 315px;
}

.mdl-layout__header {
  color: #fff;
}

.mdl-layout__header .mdl-layout__drawer-button {
  color: #fff;
}

.mdl-layout__header .mdl-navigation .mdl-navigation__link {
  color: #fff;
}
