:focus {
  outline: none;
}

.video-card {
  width: 896px;
  height: 504px;
  margin: 0 auto;
}

.list-card {
  width: 100%;
  max-width: 896px;
  margin: 0 auto;
}

.list-card h2 {
  margin-top: 0;
  padding: 0 16px;
}

h1 {
  text-align: center;
  display: flex;
  justify-content: center;
}

h1 .type-input-container {
  width: 320px;
  border-bottom: 1px dashed #333;
  text-align: left;
}

h1 .type-input {
  font-family: 'Covered By Your Grace', cursive;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  animation: type 3s steps(60, end) infinite;
}

.mdl-layout__header,
.mdl-layout__header .mdl-layout__drawer-button,
.mdl-layout__header .mdl-navigation .mdl-navigation__link {
  color: #fff;
  transition: color 0.2s ease-in;
}

.mdl-layout__header .mdl-layout__drawer-button:hover,
.mdl-layout__header .mdl-navigation .mdl-navigation__link:hover {
  color: #FFEB3B;
}

@keyframes type {
  0% {
    width: 0;
  }

  40% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}
